* {
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701223994) 13%, rgba(255, 66, 107, 0.5) 4%),linear-gradient(44deg, rgba(12, 117, 255, 0.079) 39%, rgba(242, 140, 143, 0.5) 18%),linear-gradient(118deg, rgba(84, 202, 242, 0.03152997265339608) 40%, rgba(247, 155, 187, 0.5) 54%),linear-gradient(58deg, rgba(90, 90, 237, 0.16144443572260592) 83%, rgba(249, 156, 142, 0.5) 23%); 
  width: 100%;
  /* background-color: aqua; */
  height: 100vh;
  margin: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 450px;
  max-height: 100%;
  background-color: #10101d;
  padding: 20px;
  overflow: auto;
  color: white;
}